.funky_button {
    -fx-text-fill: purple;
    -fx-font-size: 13;
    -fx-font-family: "Arial Black";
    -fx-padding: 5;
}

.h1 {
    -fx-font-weight: 700;
    -fx-font-size: 16;
    -fx-font-family: "Arial Black";
    -fx-padding: 10;
}